$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

// Use own version of bootstrap
@import '../styles/lib/bootstrap';
//@import "compass/css3/transition";
//@import "compass/css3/transform";

$line-height:     1.75em;
$inputHeight:     2.75em;
$inputMargin:     0.5em;
$inputDistance:   1.25em;

$labelColWidth:   30%;
$inputColWidth:   70%;

@mixin clearfix{
  &:before,
  &:after {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
}

// Set your grid dimensions here
$body-width: 960px;
$font-size: 16px;
$baseline: 28px;
@mixin baseline-grid {
  $columns: 1;
  $column-color: rgba(0,0,0,0);
  $baseline-color: rgba(56,255,255,.8);

  // These are all automatically calculated
  $gutter-width: 20px;  // Change if you like
  $gutters: ($columns - 1);
  $column-width: $body-width / $columns;

  background-image: -webkit-linear-gradient(0deg, $column-color $column-width, transparent $gutter-width),
  -webkit-linear-gradient(top, rgba(0,0,0,0) 95%, $baseline-color 100%);
  background-image: -moz-linear-gradient(0deg, $column-color $column-width, transparent $gutter-width),
  -moz-linear-gradient(top, rgba(0,0,0,0) 95%, $baseline-color 100%);
  background-image: -o-linear-gradient(0deg, $column-color $column-width, transparent $gutter-width),
  -o-linear-gradient(top, rgba(0,0,0,0) 95%, $baseline-color 100%);
  background-size: ($column-width + $gutter-width) 100%, 100% $baseline;
  background-position: 10px 1px; // Use to offset and center your grid
}

body{
  @include baseline-grid;
}

header{
  h1{
    font-size: 2em;
    line-height: 1.75em;
    margin-bottom: 0;
    margin-top: 0;
    border-bottom: 1px solid #000;
  }
}

form{
  legend{

  }
  .form-group{
    @include clearfix;
    border-radius: 25px;
    padding: 0 1em;
    &>label{
      display: block;
      width: 30%;
      float: left;
      margin: 1.75em 0;
      line-height: 1.75em;
    }
    input{
      display: block;
      width: 70%;
      margin: $inputDistance 0 $inputDistance $labelColWidth;
      /*
      & + .checkbox,
      & + .radio,
      & + .help-block{
        margin-top: 1.25em;
      }
      */
      & + input{
        margin-top: -$inputMargin;
      }
    }
    p:before,
    p:after{
      content: "\00a0"; /* No-break space character */
      display: block;
      overflow: hidden;
      height: 0;
    }

  }
  .help-block{
    float: none;
    margin: 0 0 0 $labelColWidth;
    &:last-child{
      //margin-bottom: 0.5em;
    }
  }
  .radio, .checkbox{
    line-height: 1.25em;
    padding-left: 0;
    margin: 0 0 0 30%;
    padding-top: .2em;
    padding-bottom: 0;
    label{
      vertical-align: top;
      margin-left: .5em;
    }
    & + .help-block{
      padding-left: 2em;
    }
    & + .radio,
    & + .checkbox {
      margin-top: 0;
    }
    .iradio, .icheckbox{
      display: inline-block;
    }
  }
  .select2-container{
    width: 70%;
    .select2-choice{
      height: 2.625em;
      line-height: 2.625em;
      padding: .025em 0 0 .5em;
      .select2-arrow b {
        background-position-y: 0.45em;
      }

    }
  }
}

.dropzone{
  margin: 1.25em 0;
}

.select2-search{
  input{
    background: none;
  }
}
