$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

// Use own version of bootstrap
@import '../styles/lib/bootstrap';
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
//@import "compass/css3/transition";
//@import "compass/css3/transform";

$line-height:     1.75em;
$inputHeight:     2.75em;
$inputMargin:     0.5em;
$inputDistance:   1.25em;

$labelColWidth:   30%;
$inputColWidth:   70%;

$white:           #FFFFFF;
$lightBlue:       #9FCAEC;
$strongLightBlue: #66AFE9;
$lightGreen:      #1ABC9C;

@mixin clearfix{
  &:before,
  &:after {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
}

@mixin noShadow{
  -webkit-box-shadow: none;
          box-shadow: none;
}

@mixin noBackground{
  background: $white;
  background-image: none;
}

// Set your grid dimensions here
$body-width: 960px;
$font-size: 16px;
$baseline: 28px;
@mixin baseline-grid {
  $columns: 1;
  $column-color: rgba(0,0,0,0);
  $baseline-color: rgba(56,255,255,.8);

  // These are all automatically calculated
  $gutter-width: 20px;  // Change if you like
  $gutters: ($columns - 1);
  $column-width: $body-width / $columns;

  background-image: -webkit-linear-gradient(0deg, $column-color $column-width, transparent $gutter-width),
  -webkit-linear-gradient(top, rgba(0,0,0,0) 95%, $baseline-color 100%);
  background-image: -moz-linear-gradient(0deg, $column-color $column-width, transparent $gutter-width),
  -moz-linear-gradient(top, rgba(0,0,0,0) 95%, $baseline-color 100%);
  background-image: -o-linear-gradient(0deg, $column-color $column-width, transparent $gutter-width),
  -o-linear-gradient(top, rgba(0,0,0,0) 95%, $baseline-color 100%);
  background-size: ($column-width + $gutter-width) 100%, 100% $baseline;
  background-position: 10px 1px; // Use to offset and center your grid
}

body.debug{
  @include baseline-grid;
  form .form-group{
    // Reddish tint to identify form containers
    background: rgba(200, 0, 0, 0.05);
    .form-container{
      // Greenish tint to identify form containers
      background: rgba(0, 200, 0, .05);
    }
  }
}

a {
  color: $lightGreen;
  &:hover{
    color: $lightGreen;
  }
}

header{
  h1{
    font-size: 2em;
    line-height: 1.75em;
    margin-bottom: 0;
    margin-top: 0;
    border-bottom: 1px solid #000;
  }
}

@mixin label{
  display: block;
  width: 30%;
  float: left;
  clear:left;
  margin: 1.75em 0 0.75em;
  line-height: 1.75em;
}

form{
  legend{

  }
  .form-group{
    @include clearfix;
    background: #F7F4F2;
    border-radius: 0.5em;
    padding: 0 0.25em 0 0.5em;
    margin-bottom: .25em;
    &>label{
      @include label;
      &:last-of-type{
        margin-top: 0;
      }
      &:first-child{
        margin-top: 0.75em;
      }
      & + input{
        margin-top: 1.25em;
      }
    }
    .form-container{
      overflow: hidden;
      margin-top: .25em;
      &:first-child{
        margin-top: 0;
      }
      &>label{
        @include label;
        margin: .75em 0 0.75em;
      }
    }
    .input-group{
      input{
        margin-left: 0;
      }
      input:focus + .input-group-btn .btn,
      .input-group-btn .btn:focus{
        @include box-shadow(0 0 0 3px $lightBlue);
        border: 1px solid $strongLightBlue;
        outline: none;
      }
      .input-group-btn:last-child > .btn {
        height: 2.75em;
        margin-top: .25em;
      }
      & + .help-block{
        margin-top: 1.25em;
      }
    }
    input{
      display: block;
      width: 70%;
      margin: $inputDistance 0 $inputDistance $labelColWidth;
      /*
      & + .checkbox,
      & + .radio,
      & + .help-block{
        margin-top: 1.25em;
      }
      */
      & + input{
        margin-top: -$inputMargin;
      }
      &:first-of-type{
        margin-top: .25em;
      }
      &:last-of-type:last-child{
        margin-bottom: .25em;
      }
      &:required:invalid,
      &:focus:invalid{
        background-image: url('../images/required_form.png');
        background-repeat: no-repeat;
        background-position: calc(100% - 10px) center;
      }
      &.valid,
      &:required:valid{
        background-image: url('../images/valid_form.png');
        background-repeat: no-repeat;
        background-position: calc(100% - 10px) center;
      }
      &.invalid{
        background-image: url('../images/invalid_form.png');
        background-repeat: no-repeat;
        background-position: calc(100% - 10px) center;
      }
    }
    p:before,
    p:after{
      content: "\00a0"; /* No-break space character */
      display: block;
      overflow: hidden;
      height: 0;
    }

    .help-block{
      float: none;
      margin: 0 0 0 $labelColWidth;
      &:last-child{
        margin-bottom: 0.75em;
      }
      & + input{
        margin-top: 1.25em;
      }
    }
    .radio, .checkbox{
      @include clearfix;
      line-height: 1.25em;
      height: 1.75em;
      padding-left: 0;
      margin: 0 0 0 30%;
      padding-top: .25em;
      padding-bottom: 0;
      label{
        vertical-align: top;
        margin-left: .5em;
      }
      & + .help-block{
        padding-left: 2em;
      }
      & + .radio,
      & + .checkbox {
        margin-top: 0;
      }
      & + input{
        margin-top: 1.25em;
      }
      & ~ input{
        &:last-child{
          margin-top: 1.25em;
        }
      }
      .iradio, .icheckbox{
        display: inline-block;
        &.focus{
          @include box-shadow(0 0 0 1px #66AFE9 inset, 0 0 0 3px #66AFE9);
          @include border-radius($input-border-radius);
        }
        &.disabled{
          cursor: not-allowed;
          & + label{
            cursor: not-allowed;
          }
        }
      }
      .iradio.focus{
        @include border-radius(50%);
      }
      &:first-of-type{
        margin-top: .75em;
      }
      &:last-child{
        margin-bottom: .75em;
      }
    }
    select{
      & + .help-block{
        margin-top: 1.25em;
      }
    }
  }
}

.dropzone{
  margin: 1.25em 0;
  background: $lightGreen;
  color: $white;
  &:first-of-type{
    margin-top: .25em;
  }
  &:last-of-type:last-child{
    margin-bottom: .25em;
  }
  .dz-preview{
    @include box-shadow(none);
    border: none;
    @include border-radius(4px);
    margin: 19px 19px 5px 19px;
    &:last-of-type {
      margin-bottom: 19px;
    }
    .dz-remove{
      cursor: pointer;
    }
    .dz-details{
      color: #666;
    }
    .dz-remove{
      @include noBackground;
    }
  }
}

.select2-search{
  input{
    background: none;
  }
}

.select2-drop{
  @include noShadow;
  &.select2-drop-above{
    @include noShadow;
  }
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  @include noShadow;
}

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices{
  @include noBackground;
}

.select2-container{
  width: 70%;
  margin-top: .25em;

  .select2-choice{
    height: 2.75em;
    line-height: 2.75em;
    padding: .025em 0 0 .5em;
    @include noBackground;
    .select2-arrow{
      @include noBackground;
      b{
        background-position: 0 8px;
      }
    }
  }
}

